{% extends 'base.html.twig' %}

{% block title %}New SubTask{% endblock %}

{% block body %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800 text-primary-emphasis">Ajouter une sous-tâche à la tâche</h1> <br>
        <a href="{{ path('app_task_index') }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fa fa-arrow-left me-1"></i> Tâches
        </a>
    </div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_dashboard') }}" class="text-decoration-none">Tableau de bord</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_sub_task_new', {'id': task.id}) }}" class="text-decoration-none">Retourner</a></li>
            <li class="breadcrumb-item " aria-current="page"><span class="bg-primary text-white fw-bold">{{ task.designation }}</span></li>
            <li class="breadcrumb-item active" aria-current="page">Ajouter sous-tâche</li>
        </ol>
    </nav>
    <hr class="sidebar-divider mb-4">
    
    <div class="container mt-5">
        <div class="card">
            <hr class="my-1">
            <div class="row container mt-2">
                <div class="col-md-8 bg-light p-4 rounded shadow">
                    {{ form_start(form) }}
                    <div>
                        <label for="libelle">Libellé de l'activité </label>
                        {{ form_widget(form.label, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div>
                        <label for="debut">Date début </label>
                        {{ form_widget(form.debut, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div>
                        <label for="fin">Date fin </label>
                        {{ form_widget(form.fin, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div>
                        <label for="libelle">Temps alloué </label>
                        {{ form_widget(form.timeAllocated,{'attr':{'class':'form-control'}}) }}
                    </div>
                    <div>
                        <label for="fin">Responsable </label>
                        {{ form_widget(form.user, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <button class="btn btn-primary mt-3" type="submit" id="submit-button">
                    <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true" id="spinner" style="display: none;"></span>
                        <i class="fa fa-database me-1"></i>{{ button_label|default('Enregistrer') }}
                    </button>
                    {{ form_end(form) }}
                </div>
                <div class="col-md-4 text-center">
                    <i class="fa-solid fa-tasks fa-3x text-primary-emphasis"></i>
                    <h2 class="mt-3">Pourquoi ajouter une sous-tâche&nbsp;?</h2>
                    <p class="lead">Ajouter une sous-tâche permet de détailler, organiser et suivre précisément les différentes étapes d'une tâche principale dans l'application.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
