{% extends 'base.html.twig' %}

{% block title %}Mes tâches{% endblock %}

{% block body %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800 text-primary-emphasis"><i class="fa fa-list me-2"></i> Mes tâches</h1>
    </div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_dashboard') }}" class="text-decoration-none">Tableau de bord</a></li>
            <li class="breadcrumb-item active" aria-current="page">Mes tâches</li>
        </ol>
    </nav>
    <hr class="sidebar-divider mb-4">

    <div class="card shadow-sm">
        <div class="card-body p-0">
            <table class="table table-bordered table-hover mb-0">
                <thead class="table-light">
                    <tr>
                        <th scope="col">Designation</th>
                        <th scope="col">Département</th>
                        <th scope="col">Participant(s)</th>
                        <th scope="col">Debut</th>
                        <th scope="col">Fin</th>
                        {# <th scope="col">Participation</th> #}
                        <th scope="col" class="text-end">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>{{ task.designation }}</td>
                        <td>{{ task.department.label }}</td>
                        <td>
                            {# Itérer sur la collection d'utilisateurs associée à la tâche #}
                            {% if task.user is not empty %} {# Vérifie si la collection n'est pas vide #}
                                {% for user in task.user %}
                                    <span class="mb-2">
                                        <a class="text-decoration-none text-primary-emphasis"
                                           href="{{ path('app_user_show', {'id': user.id}) }}"
                                           style="transition: box-shadow 0.2s;">
                                            <img src="{{ asset('upload_images/' ~ user.profilePicture ) }}"
                                                 alt="User Profile"
                                                 class="rounded-circle border border-primary-emphasis border-2"
                                                 style="width:35px;height:35px; object-fit: cover; transition: box-shadow 0.2s;">
                                            {{ user.surname|slice(0, 15) }} {{ user.name|slice(0, 1) }}
                                        </a>
                                    </span>
                                    {% if not loop.last %} <br> {% endif %} 
                                {% endfor %}
                            {% else %}
                                <span class="text-muted"><i class="fa-solid fa-user-slash"></i> Aucun utilisateur n'est assigné à cette tâche.</span>
                            {% endif %}
                        </td>
                        <td>{{ task.debut ? task.debut|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ task.fin ? task.fin|date('Y-m-d H:i:s') : '' }}</td>
                        {# <td>{{task.user }}</td> #}
                        <td class="text-end">
                            {# <a href="{{ path('app_task_show', {'id': task.id}) }}" class="btn btn-sm btn-primary me-1" title="Afficher"><i class="fa fa-eye me-1"></i></a>
                            <a href="{{ path('app_task_edit', {'id': task.id}) }}" class="btn btn-sm btn-secondary" title="Modifier"><i class="fa fa-pencil me-1"></i></a> #}
                            <a href="{{ path('app_sub_task_index', {'id': task.id}) }}" class="btn btn-sm btn-info" title="Activités"><i class="fa-solid fa-arrows-turn-to-dots"></i></i></a>
                            
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5" class="text-center text-muted py-4">Aucun rôle trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

